@using Microsoft.AspNetCore.Components.Routing

<nav class="nav-menu">
    <ul>
        <li>
            <NavLink href="/vehicles" class="nav-link" activeClass="active">Vehicles</NavLink>
        </li>
        <li>
            <NavLink href="/garageslots" class="nav-link" activeClass="active">Garage Slots</NavLink>
        </li>
        <li>
            <NavLink href="/rentals" class="nav-link" activeClass="active">Rentals</NavLink>
        </li>
    </ul>
</nav>
